tr.Altura-Fila
{
	cursor: pointer;
	overflow: hidden; 
	line-height: 2px; 
	white-space: nowrap;	
}
tr.Encabezado-Tabla
{
	color: #00552b;
	background-color: #deedcb;
	text-align: center;
	overflow: hidden; 
	line-height: 2px; 
	white-space: nowrap
}
