tr.altura-fila
{
	cursor: pointer;
	overflow: hidden; 
	line-height: 2px; 
	white-space: nowrap;	
}
th.Encabezado-Tabla
{
	text-align: center;
	overflow: hidden; 
	line-height: 2px; 
	white-space: nowrap;
	color: #00552b;
	background-color: #deedcb;
}
