<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<title>Gestión Sitios - Administración</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-light navbar-light">
				<a class="navbar-brand" th:href="@{/}"> 
					<img th:src="@{/images/Logo_Empresa_Mini.jpg}" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">	
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="nav nav-fill nav-tabs" id="MenuPpal" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-usuarios" th:href = "@{/usuarios}" role="tab" >Usuarios</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-index" th:href = "@{/inicio}" role="tab" >Inicio</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-proyectos" th:href = "@{/proyectos}" role="tab" >Proyecto</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-documentos" th:href = "@{/documentos}" role="tab" >Documentos</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-correspondencia" th:href = "@{/correspondencia}" role="tab" >Correspondencia</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-faqs" th:href = "@{/faqs}" role="tab" >FAQ</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-contactos" th:href = "@{/contactos}" role="tab" >Contactos</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h2>Gestión de Usuarios</h2>
		</div>
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<td>Id Usuario</td>
						<td>Fotos</td>
						<td>Email</td>
						<td>Nombres</td>
						<td>Apellidos</td>
						<td>Roles</td>
						<td>¿Activo?</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listaUsuarios}">
						<td>[[${usuario.id}]]</td>
						<td></td>
						<td>[[${usuario.email}]]</td>
						<td>[[${usuario.nombre}]]</td>
						<td>[[${usuario.apellido}]]</td>
						<td>[[${usuario.roles}]]</td>
						<td>[[${usuario.enabled}]]</td>
				</tbody>
			</table>
		</div>
	</div>

	<div class="text-center">
		<p>Gestión Sitios - Panel de Control - Copyright &copy; JCS</p>
	</div>

</body>
</html>