<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<title>Gestión Sitios - Administración</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/estilo_prueba.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-light navbar-light">
				<a class="navbar-brand" th:href="@{/}"> 
					<img th:src="@{/images/Logo_Empresa_Mini.jpg}" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">	
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="nav nav-fill nav-tabs" id="MenuPpal" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-usuarios" th:href = "@{/usuarios}" role="tab" >Usuarios</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-index" th:href = "@{/inicio}" role="tab" >Inicio</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-proyectos" th:href = "@{/proyectos}" role="tab" >Proyecto</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-documentos" th:href = "@{/documentos}" role="tab" >Documentos</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-correspondencia" th:href = "@{/correspondencia}" role="tab" >Correspondencia</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-faqs" th:href = "@{/faqs}" role="tab" >FAQ</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-contactos" th:href = "@{/contactos}" role="tab" >Contactos</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h2>Gestión de usuarios</h2>
			<a th:href="@{/usuarios/nuevo}">Crear un nuevo usuario</a>			
		</div>
		<div th:if="${message} != null" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<div>
			<table class="table table-bordered table-striped table-hover small-font table-responsive-xl">
				<thead style="overflow: hidden; line-height: 2px; white-space: nowrap; color: #00552b; background-color: #deedcb;">
					<tr>
						<th>Id Usuario</th>
						<th>Fotos</th>
						<th>Email</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Roles</th>				
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr style="overflow: hidden; line-height: 2px; white-space: nowrap;" th:each="usuario : ${listaUsuarios}">
						<td>[[${usuario.id}]]</td>
						<td><span class="fas fa-portrait icon-silver"></span></td>
						<td>[[${usuario.email}]]</td>
						<td>[[${usuario.nombre}]]</td>
						<td>[[${usuario.apellido}]]</td>
						<td>[[${usuario.roles}]]</td>
						<td>						
							<a th:if="${usuario.activo == true}" class="fas fa-check-circle icon-green" href=""></a>
							<a th:if="${usuario.activo == false}" class="fas fa-check-circle icon-dark" href=""></a>
						</td>
						<td>
							<a class="fas fa-edit icon-green" th:href="@{'/usuarios/editar/' + ${usuario.id}}"
							title="Edite este usuario"></a>
							&nbsp;
							<a class="fas fa-trash icon-dark" href=""></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="text-center">
		<p>Gestión Sitios - Panel de Control - Copyright &copy; JCS</p>
	</div>

</body>
</html>